.container {
    background: #f7f7f7;
    padding: 50px;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    width: 100%;
}

.link {
    text-decoration: none;
    color: #5f5f5f;
    text-decoration: underline;
}

.fa {
    width: 100%;
    background: rgb(0, 0, 0);
}

.imgbox3 {
    height: 140px;
    width: 140px;
    /* border: 1px solid; */
}

.title3 {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-self: center;
    margin: auto;
    width: max-content;
    padding: 100px;
    background-color: black;
    width: max-content;
}

.textbox3 {
    margin: 0;
    padding: 10px;
    /* border: 1px solid; */
    height: auto;
    bottom: 0;
    border-radius: 5px;
    font-size: 100px;
    color: white;
}