@font-face {
  font-family: "UberMoveBold";
  src: url("/fonts/uber/UberMoveBold.otf");
  font-style: bold;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "UberMove";
  src: url("/fonts/uber/UberMoveMedium.otf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family:"UberMove";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
