.container {
  /* border: 1px solid; */
  /* padding: 50px; */
  height: auto;
}
.imgbox{
  height: 180px;
  width: 180px;
  /* border: 1px solid; */
}
.imgbox2{
  height: 140px;
  width: 140px;
  /* border: 1px solid; */
}
.title{
  /* border: 1px solid; */
  display:grid;
  grid-template-columns:1fr;
  align-self: center;
  margin: auto;
  width: max-content;
  padding-top:50px;
}
.title2{
  /* border: 1px solid; */
  display:grid;
  grid-template-columns:1fr 1fr;
  align-self: center;
  margin: auto;
  width: max-content;
  height: 90px;
  cursor: pointer;
  /* padding-top:10px; */
}
.textbox{
  margin: 0;
  padding: 10px;
  /* border: 1px solid; */
  height: auto;
  bottom: 0;
  border-radius: 5px;
  font-size: 100px;
}
.textbox2{
  margin: 0;
  /* padding: 10px; */
  /* border: 1px solid; */
  height: auto;
  border-radius: 5px;
  font-size: 25px;
  align-self: center;
  text-align: center;
  color: gray;
}
.textboxsub{
  width:50%;
  font-size: 16px;
  align-self: center;
  margin: auto;
  text-align: center;
  color: rgb(0, 0, 0);
}
.sec{
  border: 1px solid;
  display:grid;
  grid-template-columns:1fr;
}
.start{
  width: 310px;
  margin-left: -5px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius:5px;
  padding:15px;
  font-size:20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 100px;
  cursor: pointer;
}
.start:hover{
  background: #3c8eff;
}
.secimg{
  height: 300px;
  overflow: hidden;
}
.regbox{
  align-self: center;
  margin: auto;
  width: 400px;
  height: max-content;
  background: #ffffff;
  padding: 20px;
  margin-top:150px;
}
.regsub{
  padding: 10px;
  background:black;
  width: max-content;
  border-radius: 5px;
  margin-top:20px;
  color: white;
  font-size: 13px;
  font-weight: bold;
}