.container {
    background: #f7f7f7;
    padding-top:0px;
    height: 100vh;
    position:absolute;
    width: 100%;
}

.regcont {
    /* border: 1px solid rgb(163, 163, 163); */
    padding: 20px;
    align-self: center;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    width: 400px;
    margin-bottom: 100px;
    background: #ffffff;
}

.imgbox {
    /* border: 1px solid; */
    height: 100px;
    width: 100px;
    align-self: center;
    margin: auto;
}

.imgboxu {
    border: 5px solid #0070f3;
    height: 100px;
    width: 100px;
    align-self: center;
    margin: auto;
    border-radius: 50px;
    overflow: hidden;
}
.textbox{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.textbox2{
    text-align: center;
    font-size: 15px;
    width: 85%;
    align-self: center;
    margin: auto;
    /* margin-top: 10px; */
}
.butt{
    width: 100%;
    height: 50px;
    background:#0070f3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.butt:hover{
    background: #0050a3;
}
.userBox{
    display: grid;
    /* border: 1px solid; */
    grid-template-columns: 0fr 0fr 1fr;
    padding: 10px;
    position:fixed;
    background: #ffffff;
    box-shadow: 0.001rem 0.001rem 12px #cccccc;
    z-index: 100;

}
.userBox_img{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    align-self: center;
    margin-left: 5px;
}
.userBox_img_arr{
   font-weight: bold;
   font-size:25px;
   padding:10px;
   cursor: pointer;
}
.userBox_img_arr:hover{
    background-color: #000000;
    color: white;
}
.userBox_name{
   margin: 15px;
}
@media screen and (max-width: 425px) {
    .regcont {
        width: 80%;
    }
    
}
